:root {
	--header-background-color: salmon;
	--header-link-color: #66251e;
	--submenu-background-color: #42211d;
	--submenu-color: salmon;
	--block-background-color: #8a99a9;
	--block-background-hover-color: #8595a5;
	--block-border-color: #a1b2c4;
	--ticker-background-color: #76889b;
	--ticker-background-hover-color: #607388;
	--ticker-color: #27303a;
	--ticker-hover-color: #a1b2c4;
	--modal-background-color: #b9c1c9;
	--modal-color: #27303a;
	--error-color: #c63f30;
}

html {
	box-sizing: border-box;
	font-size: 18px;
}

body {
	margin: 0;
	font-family: 'Work Sans', sans-serif;
	background-color: slategrey;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

.screen-reader-text {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	word-wrap: normal !important;
}
button {
	appearance: none;
	padding: 0;
	margin: 0;
	border: 0;
	background-color: transparent;
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
	color: inherit;

	&:hover {
		cursor: pointer;
	}
}
